.colors_desktop {
    position: fixed;
    display: flex;
    flex-direction: column;
}

.colors_mobile {
    display: none;
    flex-direction: row;
}

.attention {
    animation: attention 8s ease infinite;
}

.lightBlue {
    background: #fff;
    animation-delay: 0;
}

.darkBlue {
    background: #2A4379;
    animation-delay: 0.15s;
}

.lightYellow {
    background: #FED67D;
    animation-delay: 0.3s;
}

.darkGreen {
    background: #628652;
    animation-delay: 0.45s;
}

.circle {
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: grayscale(80%);
    border: 0;
    margin: var(--margin);
    outline: none;
    transition: all 0.2s;
}

.circle:hover {
    filter: grayscale(0%);
    transform: scale(1.2);
}

.selectedColor {
    filter: grayscale(0%);
    box-shadow: 0px 0px 10px var(--main-bgc);
}

@keyframes attention {
    8% {
        left: 0;
    }
    12% {
        left: 40px;
    }
    16% {
        left: 0;
    }
}

@media (max-width: 400px) {
    .circle {
        width: 20px;
        height: 20px;
    }
    .header_sub_title_content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .colors_desktop {
        display: none;
    }
    .colors_mobile {
        display: inline-flex;
        flex-direction: row;
    }
    @keyframes attention {
        8% {
            transform: scale(1.0);
        }
        10% {
            transform: scale(1.5);
        }
        16% {
            transform: scale(1.0);
        }
    }
}