body {
    background-color: var(--back-bgc);
    display: grid;
    font-family: var(--paragraphs-font);
}

.resume {
    grid-area: resume;
    display: grid;
    width: 1080px;
    grid: "header header" "side main" / 1fr 1.5fr;
    color: var(--main-font-color);
}

.side {
    transition: linear .5s all;
    grid-area: side;
    background: var(--second-bgc);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--secondery-font-color);
}

.main {
    transition: linear .5s all;
    grid-area: main;
    background: var(--main-bgc);
}

.section {
    padding: var(--padding) var(--padding-width);
    background-color: inherit;
    transition: transform .2s ease-in;
    cursor: default;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}



h2 {
    font-weight: 300;
    font-size: var(--h2-font-size);
    letter-spacing: 0.2em;
    font-family: var(--titles-font);
    margin: calc(var(--margin)*1) 0 calc(var(--margin)*2) 0;
}

h3 {
    letter-spacing: 0.1em;
    font-size: var(--h3-font-size);
    margin: calc(var(--margin)*1) 0;
    font-weight: 1000;
}

h4 {
    letter-spacing: 0.1em;
    margin: calc(var(--margin)*1) 0;
    font-size: var(--h4-font-size);
    font-weight: 700;
}

p {
    line-height: 1.5em;
    font-size: var(--p-font-size);
}

.section:hover {
    z-index: 1;
    transform: scale(1.05);
    transition: transform 0.2s ease-in;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .4);
}

.bio_link {
    text-decoration: none;
    color: var(--secondary-font-color);
}

*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav a {
    position: relative;
    display: flex;
    margin: 15px 0;
    outline: none;
    color: var(--secondary-font-color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: var(--h4-font-size);
}

/* Effect 5: same word slide in */

.cl-effect-5 a {
    overflow: hidden;
    padding: 0 4px;
    height: 1em;
}

.cl-effect-5 a span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.cl-effect-5 a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    font-weight: 700;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.cl-effect-5 a:hover span, .cl-effect-5 a:focus span {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}

@media (max-width: 400px) {
    .resume {
        grid: "header" "main" "side";
    }
    .section{
        margin: var(--margin);
    }
    .section:hover {
        z-index: 1;
        transform: initial;
        /* transition: transform 0.2s ease-in; */
        box-shadow: initial;
    }
}