@font-face {
    font-family: 'norwester';
    src: url("./norwester.otf") format("opentype");
}

:root {
    /* --mc: rgb(9, 255, 0); */
    /* --sc: rgb(5, 107, 1); */
    --main-bgc: #fff;
    --second-bgc: #a2ddff;
    --action-bgc: #a2ddff;
    --back-bgc: rgb(29, 29, 29);
    /* --bshc: rgb(255, 255, 255); */
    --main-font-color: #000;
    --secondery-font-color: #000;
    --padding: 10px;
    --padding-width: 20px;
    --title-font-size: 2em;
    --titles-font: 'norwester';
    --paragraphs-font: 'Roboto', sans-serif;
}

body {
    background-color: var(--back-bgc);
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: var(--paragraphs-font);
}

h1>pre {
    font-size: var(--title-font-size);
    font-family: var(--titles-font);
}

.resume {
    display: grid;
    width: 1080px;
    /* height: calc(1080px * 1.414); */
    grid: "header header" "side main" / 1fr 1.5fr;
    /* box-shadow: 10px 0 10px var(--main-bgc); */
    color: var(--main-font-color);
}

.header {
    grid-area: header;
    background: var(--main-bgc);
}

.header>h1 {
    padding: 0 var(--padding-width);
}

.header>h2 {
    padding: var(--padding) var(--padding-width);
    background: var(--action-bgc);
    text-align: right;
    color: var(--secondery-font-color);
}

.side {
    grid-area: side;
    background: var(--second-bgc);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--secondery-font-color);
}

.main {
    grid-area: main;
    background: var(--main-bgc);
    /* padding: var(--p) var(--padding-width); */
}

.main>h2 {
    padding: var(--padding) var(--padding-width);
}

.section {
    padding: var(--padding) var(--padding-width);
    /* border-radius: 20px; */
    background-color: inherit;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.section:hover {
    z-index: 1;
    transform: scale(1.05);
    transition: all 0.2s ease-in;
    box-shadow: 4px 4px 10px black;
}